// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #FF7043;   // Смягченный оранжевый
$secondary : #66BB6A;   // Спокойный зеленый
$accent    : #FFCA28;   // Мягкий янтарный

$dark      : #424242;   // Тёмный серый
$dark-page : #1E1E1E;   // Мягкий темный для фона

$positive  : #9CCC65;   // Спокойный зеленый для успеха
$negative  : #E57373;   // Приглушённый красный для ошибок
$info      : #4FC3F7;   // Нежный голубой для информации
$warning   : #FFD54F;   // Спокойный желтый для предупреждений
